<div data-role="footer" data-theme="a" data-id="mainFooter" data-position="fixed">
    <div data-role="navbar" data-grid="d">
        <ul class="apple-navbar-ui comboSprite">
            <li><a class="navbar-link" href="@Url.Action("Index", "Home")" data-prefetch data-iconpos="top" data-icon="features">
                Home</a></li>
            <li><a class="navbar-link" href="@Url.Action("Index", "User")" data-prefetch data-iconpos="top" data-icon="brands">
                User<span class="ui-li-count">10</span></a></li>
            <li><a class="navbar-link" href="@Url.Action("Info", "User")" data-prefetch data-iconpos="top" data-icon="fees">
                Fees</a></li>
            <li><a class="navbar-link" href="@Url.Action("Index", "Home")" data-iconpos="top" data-icon="contact">
                Contact</a></li>
            <li><a class="navbar-link" href="@Url.Action("Index", "Home")" data-dom-cache="true" data-iconpos="top" data-icon="about">
                About Us</a></li>
        </ul>
    </div>
</div>
 