@using jQueryMobileMvc
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Head")
</head>
<body>
    <div data-role="page" id="@WebPageUtility.GetPageId("")" data-id="@WebPageUtility.GetPageId("")" data-title="@ViewBag.Title" >
        @Html.Partial("_Header")
        <div data-role="content">
            @RenderBody()
        </div>
        @Html.Partial("_Footer")
    </div>
</body>
</html>
