@using jQueryMobileMvc
<div data-role="page" id="@WebPageUtility.GetPageId(ViewData.Model.PageId)" data-id="@WebPageUtility.GetPageId(ViewData.Model.PageId)" data-title="@WebPageUtility.GetPageId(ViewData.Model.PageId)" >
    @Html.Partial("_Header")
    <div data-role="content">
        @ViewData.Model.Body
    </div>
    @Html.Partial("_Footer")
</div>
